name: tests-auth

on:
  pull_request:
    paths:
      - 'auth/**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MONGOMS_VERSION: "6.0.15"
      MONGOMS_STORAGE_ENGINE: "wiredTiger"
    steps:
      - uses: actions/checkout@v4
      - name: Run auth tests
        run: |
          cd auth
          npm ci
          npm run test:ci
