name: tests-auth

on:
  pull_request:
    paths:
      - 'auth/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install libssl1.1 workaround for mongodb-memory-server
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev
          sudo ln -sf /usr/lib/x86_64-linux-gnu/libssl.so /usr/lib/x86_64-linux-gnu/libssl.so.1.1 || true
          sudo ln -sf /usr/lib/x86_64-linux-gnu/libcrypto.so /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1 || true
      - name: Run auth tests
        run: |
          cd auth
          npm ci
          npm run test:ci
